<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<body>
<h1> Tribute</h1>

<p align="justify">
    Tribute is a project that organizes events about Latin American music, which the aim to give a tribute to the different artist that promoted salsa.

    The main musical period we play in our events is from end of 90's up until now. In special, we focus on salsa dura, which is a rhythm with topics and aesthetics of the urban life in the United States and Latin America.

<h3>Goal:</h3>
Our goal is to give the audience a well established type of salsa music that is consider a referent into the Latin American
Culture as a whole, in order for the dancers to know more about the different salsa styles and themes.

<!--<h3>Objetivo específico:</h3>
We aim for being the
Ser la marca impulsora de ritmos y artistas latinoamericanos que son considerados como de culto en la escena de la música
latinoamericana en los géneros arriba planteados.-->

</p>
<!--
    Es un proyecto destinado a la organización de eventos de música latinoamericana, con el fin de brindar un tributo a los
    diferentes artistas que impulsaron la salsa, el reguetón y el bolero, géneros musicales popular en el mundo entero.
    El principal periodo musical que abarca este proyecto es desde los años 60’s hasta finales de los 90’s.

    Tribute tiene especial enfoque en la denominada “Salsa dura”, ritmo con temáticas y estéticas de la vida urbana en los Estados Unidos
    y Latinoamérica. El grupo musical que fundamenta gran parte de esta propuesta se da desde los artistas que colaboraron con
    Fania Records en los Estados Unidos.

    <h3>    Objetivo general:</h3>
    El producto que ofrece tribute será desarrollado en Dinamarca en su primera fase. Principalmente en Copenhague, capital danesa. Y su objetivo general es brindar a la población bailadora un tipo de música fuera del espectro de la oferta actual en la ciudad, puesto que actualmente la propuesta la entendemos como limitada. Por lo tanto, nuestro producto alimenta el grupo ya establecido de consumidores de ritmos latinoamericanos.


    <h3>Objetivo específico:</h3>
    Ser la marca impulsora de ritmos y artistas latinoamericanos que son considerados como de culto en la escena de la música latinoamericana en los géneros arriba planteados.

    </p>--->
</body>
</html>