<div>

    </br>
    <div align="center">
        <img class="img-rounded" src="https://scontent.faal1-1.fna.fbcdn.net/v/t1.0-9/29468621_622549894743940_1516429477553804800_n.jpg?_nc_cat=0&oh=c6ee66c928d04587eb1c08fad4ce9b59&oe=5B44B8C1">

    </div>

    </br>
    <table class="table tshirttable">



        <div>
            <tr>
                <td><b>Date</b></td>
                <td><b>Time</b></td>
                <td><b>Event Name</b></td>
                <td><b>Address</b></td>
                <td><b>Entrance</b></td>
            </tr>
        </div>

        <!--<tr>
            <td>Mar 1, 2018</td>
            <td>21:00 to 1:00 </td>
            <td>Tribute - Latino Bar</td>
            <td>Frederikssundsvej 7 - Café AE , Copenhagen , 2400 NV	</td>
            <td>30 Kr.</td>
        </tr>-->
<!--
        <tr>
            <td>Mar 15, 2018</td>
            <td>21:00 to 1:00 </td>
            <td>Tribute - Latino Bar</td>
            <td>Frederikssundsvej 7 - Café AE , Copenhagen , 2400 NV	</td>
            <td>30 Kr.</td>
        </tr>
-->

        <p>
            <td>Mar 29, 2018</td>
            <td>22:00 to 02:00 </td>
            <td>Latino Bar Feat. Las DJ Collective</td>
            <td>Frederikssundsvej 7 - Café AE , Copenhagen , 2400 NV	</td>
            <td>50 Kr.</td>

        </p>
        </tr>
    </table>

    <p>
        DJ Col8 will give play Latin music during the night.
        To finish our set of Latino Bar on Thursdays, we feature:

        </br></br></br>
        Las DJ Collective</br>
        This female collective of music came with the need of a new form of expression, of the way we feel for life and the way we live for music.
        Our previous paths, have individually brought us through a wide spectrum of performing arts and music, and within this project << Las Dj Collective>> there is to notice a special bond with Latin American culture and its music (roots&club).
        </br>
        </br>
        Las Dj Collective is how we, as women, feel about music; of how we reconnect our womanhood and how we reclaim our rights in a globalized, normalized, paralized world.
        </br>
        </br>
        Las DJ Collective</br>
        </br>
        DJ Lola - Electronic music as a major. She has experienced the wildest electronic music scenes in Europe and South America.
        </br></br>
        DJ Runa Puma: She is a wild cat in her pursue for the best cumbia villera/psychodelic cumbia with reggaetón, jungle-trance and rock/jazz influences.
        </br></br>
        Redeyes Selecta:
        By her remixes with the hottest old school dembow mamacitas and the latest reggaetón female rappers at its best. Hot, Dirty & totally party mood.
        </br></br>
        DJ Rasetta & DJ Nara with the best Latin Tunes : Bachata, Reggae & Reggaetón will also be around.
        </br></br>
        (Not present on this occasion) Mambe Selecta: Also known as Mambe an MC and performer, former MC at Beatsters, Voodoom & Las Vacas Locas; a rude rapper and the Colombian queen of reggae.
        </br></br>
        Stay tuned at Las DJ Collective on Facebook & Instagram.</p>
</div>




</div>