<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .newspaper_3 {
            -webkit-column-count: 3; /* Chrome, Safari, Opera */
            -moz-column-count: 3; /* Firefox */
            column-count: 3;

            text-align: justify;
            text-justify: inter-word;
        }
        .newspaper_4 {
            -webkit-column-count: 4; /* Chrome, Safari, Opera */
            -moz-column-count: 4; /* Firefox */
            column-count: 4;

            text-align: justify;
            text-justify: inter-word;
        }
    </style>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<h1>Latin Music History</h1>
<hr />


    <div class="newspaper_3">
        <!--source for formatting: https://www.w3schools.com/css/css3_multiple_columns.asp-->

        <p><h2>Bridges</h2> <br>
        A new wave of music and dance styles—Latin jazz, the mambo,
        and the cha cha chá—sweep across the nation from New York City
        to San Francisco. Latin music influences rock and roll and
        rhythm and blues through the 1960s.</p>
        <br><br>
        <p><h3>Latin Jazz (Afro-Cuban Jazz)</h3><br>
            In the 1940s, Cuban musicians living in New York City
            performed with renowned African American bandleaders
            such as Duke Ellington and Dizzy Gillespie. They began
            to mix Cuban rhythms and instruments with American
            jazz riffs, creating an exciting new sound that is still
            popular today</p>

        <p><h3>Mambo and Cha Cha Chá</h3><br>
            These two styles of Cuban dance music were wildly
            popular during the 1950s and 1960s. First came the
            fast-paced mambo, the music of choice at New York
            City’s famous Palladium Ballroom. There, enthusiastic
            crowds danced to the beats of legendary bandleaders.
            Eventually mambo gave way to the slower and easierto-
            dance-to rhythms of the cha cha chá.</p>

    </div>
    <br>
    <iframe width="640" height="360" src="https://www.youtube.com/embed/7VLmVPXT5_0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p><b>Source:</b> Latin Music in the USA by PBS</p>
    <p><b>Video:</b> First of four in the Latin Music in the USA collection.</p>
    <br>

    <hr />
    <div class="newspaper_3">
        <p><h2>Salsa</h2> <br>
        In New York City, Puerto Rican and other
        Latino musicians blend Cuban and Puerto Rican
        rhythms with soul and jazz to create the popular
        salsa sound.


        Salsa is not only a spicy sauce. It’s also a popular
            Latin music and dance style known for its high-energy,
            hip-swaying rhythms and exciting turns. In the late
            1960s, innovative Latino musicians in New York City
            created the sound from a mix of Puerto Rican and Cuban
            rhythms, soul, and jazz. Salsa’s popularity soon spread
            to Latin America and beyond. Today, people from all
            corners of the globe move to salsa’s infectious beat.</p>

    </div>
    <br>
    <iframe width="640" height="360" src="https://www.youtube.com/embed/S9xQVpci0_E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p><b>Source:</b> Latin Music in the USA  by PBS</p>
    <p><b>Video:</b> Second of four in the Latin Music in the USA collection.</p>

    <hr />

    <div class="newspaper_4">
        <!--source for formatting: https://www.w3schools.com/css/css3_multiple_columns.asp-->

        <p><h2>The Chicano Wave</h2> <br>
        A new generation of Mexican Americans raised on rock, rhythm
        and blues, and country and western music express their cultural
        identity through Chicano rock, Latin rock, Tejano, and the
        Norteño (northern) sound.</p>
        <br><br>

        <p><h3>Chicano Rock</h3><br>
        In 1958, a 17-year-old Mexican American from Pacoima,
        California, named Ritchie Valens became a rock and roll
        sensation almost overnight. With the hit songs “La Bamba”
        and “Donna,” he paved the way for Chicano rock bands
        including Tierra and Los Lobos, whose music became a
        part of Chicano identity. In the late 1960s, Mexican-born
        guitarist Carlos Santana captured the world’s attention
        with his unique blend of rock, blues, and Afro-Cuban jazz.</p>

        <p><h3>Norteño</h3><br>
        Created in northern Mexico, and based on rural folk
        music and European polka rhythms, Norteño is popular
        with recent Mexican immigrants who identify with the
        heartfelt ballads about the migrant experience. Part of
        Norteño’s distinctive sound comes from the accordion
        and the bajo sexto, a type of 12-string guitar.</p>

        <p><h3>Tejano</h3><br>
        Tejano refers to a Texan of Latino descent. Tejano
        is also a style of music from central and southern Texas
        based on the accordion and horns of Norteño. Today,
        electric guitars, keyboards, and drums give the style
        a more modern sound.</p>

    </div>
    <br>
    <iframe width="640" height="360" src="https://www.youtube.com/embed/HrSCM_8usiw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p><b>Source:</b> Latin Music in the USA  by PBS</p>
    <p><b>Video:</b> Third of four in the Latin Music in the USA collection.</p>
    <br>

    <hr />

    <div class="newspaper_3">
        <!--source for formatting: https://www.w3schools.com/css/css3_multiple_columns.asp-->

        <p><h2>Divas & Superstars</h2> <br>
        In the 1980s and 1990s, Latin pop explodes on to the national scene fueled by
        chart-topping songs from dynamic artists and inventive producers. At the turn of the
        century, reggaetón, a hot new sound with the style and swagger of hip-hop, speaks
        to young Latinos.</p>
        <br><br>
        <p><h3>Latin Pop</h3><br>
        Some of the most well-known songs in the U.S. come
        from the world of Latin pop. Megastars such as Gloria
        Estefan, Ricky Martin, and Shakira are favorites of
        audiences around the globe. A mix of catchy pop tunes
        combined with Latin rhythms, Latin pop songs are sung
        in Spanish, English, or a mix of the two.</p>

        <p><h3>Reggaetón</h3><br>
        The fresh, driving beats of reggaetón come from a mix
        of fast-paced Jamaican reggae with Latin rhythms,
        contemporary rhythm and blues, hip-hop, and Spanish
        rap. Many popular reggaetón artists are from Puerto
        Rico, but the sound is a source of pride and identity for
        young Latinos across the country.</p>

    </div>
    <br>
    <iframe width="640" height="360" src="https://www.youtube.com/embed/VSeuS4m4MnI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p><b>Source:</b> Latin Music in the USA by PBS</p>
    <p><b>Video:</b> Fourth of four in the Latin Music in the USA collection.</p>
    <br>

</body>
</html>