<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .newspaper {
            -webkit-column-count: 3; /* Chrome, Safari, Opera */
            -moz-column-count: 3; /* Firefox */
            column-count: 3;

            text-align: justify;
            text-justify: inter-word;
        }
    </style>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    <div class="newspaper">
    <p><h2>Bridges</h2> <br>
        A new wave of music and dance styles—Latin jazz, the mambo,
        and the cha cha chá—sweep across the nation from New York City
        to San Francisco. Latin music influences rock and roll and
        rhythm and blues through the 1960s.</p>
        <br><br>
        <p><h2>Latin Jazz (Afro-Cuban Jazz)</h2><br>
            In the 1940s, Cuban musicians living in New York City
            performed with renowned African American bandleaders
            such as Duke Ellington and Dizzy Gillespie. They began
            to mix Cuban rhythms and instruments with American
            jazz riffs, creating an exciting new sound that is still
            popular today</p>

        <p><h2>Mambo and Cha Cha Chá</h2><br>
            These two styles of Cuban dance music were wildly
            popular during the 1950s and 1960s. First came the
            fast-paced mambo, the music of choice at New York
            City’s famous Palladium Ballroom. There, enthusiastic
            crowds danced to the beats of legendary bandleaders.
            Eventually mambo gave way to the slower and easierto-
            dance-to rhythms of the cha cha chá.</p>

    </div>
    <p><b>Source:</b> Latin Music in the USA</p>
    <p><b>Video:</b> First of four in the Latin Music in the USA collection.</p>
    <iframe width="854" height="480" src="https://www.youtube.com/embed/xPvJAz5LyV4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</body>
</html>