  <div ng-controller="EventController" style="padding-left:20px; padding-right:20px">


    <div class="row">
      <div class="span11">
        <h2>{{event.name | uppercase}} </h2>
      </div>
    </div>

      <div class="row">
          <div class="span11">
              <h6>{{event.abstract}} </h6>
          </div>
      </div>


      <div class="row">
          <div class="span11">
              <h6>Check the full program on the:  <a  target="_blank" ng-href="https://www.facebook.com/events/{{event.facebook_event}}">Facebook event</a> </h6>
          </div>
      </div>

      <br>
      <img ng-src="{{event.imageUrl}}" alt="{{event.name}}">

      <br>
      <br>
    <div class="row">
          <div class="span3">
            <div><strong>Date:</strong> {{event.date}}</div>
            <div><strong>Time:</strong> {{event.time}} Hrs.</div>
            <div><strong>Price:</strong> {{event.price}} Kr.</div>
          </div>

        <div class="span4">
            <address>
              <strong>Address:</strong><br />
              {{event.location.address}}<br />
              {{event.location.city}}, {{event.location.province}}
            </address>
          </div>
    </div>

  </div>
